{% extends 'mysite/base.html' %}
{% block section %}
    {% if object.logo %}
        <img src = {{ object.logo.url }} height = 150, width = 150> <br>
    {% endif %}
    {{ object.name }} <br>
    {{ object.description }} <br>
    {{ object.address }} <br>
    {{ object.official_email }} <br>
    {{ object.date_of_establishment}} <br>
    Administrator:
    {% for admin in object.administrator.all %}
        {{ admin }} 
    {% endfor %} <br>
    {% if user in object.administrator.all %}
        <a href = {% url "company:company-updation" object.id %}>Update Details </a>
         <a href = {% url "company:company-deletion" object.id %}>Delete Company </a>
           <a href = {% url "user:add-user-in-company" object.id %}>Add User</a>
    {% endif %}
{% endblock section %}