{% extends 'mysite/base.html' %}
{% block section %}
    {{ object.name }} <br>
    {{ object.description }} <br>
    {{ object.product }} <br>
    {{ object.created_on }} <br>
    {% for admin in object.administrator.all %}
        {{ admin }}
    {% endfor %}

    
    {% if user in object.administrator.all %}
        <a href = {% url "team:team-updation" object.id %}>Update Details </a>
         <a href = {% url "team:team-deletion" object.id %}>Delete Team </a>
         <a href = {% url "user:assign-team-to-user" object.id %}>Add User</a>
    {% endif %}
{% endblock section %}