@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Mono:ital,wght@1,500&family=Varela+Round&display=swap');
body{
    background : #f4f4f4;
}
.navbar{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a{
    padding-top : 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}
/* Navbar Starts here */
.navbar {
    background-color: #da2e00;
  }
  .navbar .navbar-brand {
    color: #faf3ec;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fffdfb;
  }
  .navbar .navbar-text {
    color: #faf3ec;
  }
  .navbar .navbar-text a {
    color: #fffdfb;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fffdfb; 
  }
  .navbar .navbar-nav .nav-link {
    color: #faf3ec;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fffdfb;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #da2e00;
    border-color: #9e3215;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #faf3ec;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fffdfb;
    background-color: #9e3215;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #9e3215;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fffdfb;
    background-color: #9e3215;
  }
  .navbar .navbar-toggle {
    border-color: #9e3215;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #9e3215;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #faf3ec;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #faf3ec;
  }
  .navbar .navbar-link {
    color: #faf3ec;
  }
  .navbar .navbar-link:hover {
    color: #fffdfb;
  }
  /* Custom CSS */
  .main-color-bg{
    background-color: #da2e00 !important;
    color: #ffffff !important;
  }
  .grey-background{
      background-color: #333333;
      color: #ffffff;
  }
  .message{
    background-color: #333333;
    color: #ffffff; 
  }
  .message p{
    padding: 10px 10px;
    text-align: center;
  }
  
/* Breadcrumb */
  .breadcrumb{
      background: #cccccc;
      color: #333333;
  }
  .breadcrumb a{
      color: #333333;
  }
/* Progress Bar */
.progress-bar-container{
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px 10px 10px 10px;
    border: 1px solid lightgray;
}
.progress-bar{
    background: #333333;
    color: #ffffff;
}
/* Cards */
.dash-box{
    text-align: center;
    margin: 15px;
}
.sidebar{
  margin-bottom: 20px;
  width: 100%;
}
.icon i{
  width: 25px;
}
.assigned_users{
  list-style-type: none;
}
/* footer */
#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
}
.login-container{
  margin-top: 60px;
  margin-bottom: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.login-card{
  width: 100%;
}
.employees-overview-feature-container,
.company-overview-features-container{
  margin: 5px 5px;
  padding: 15px 15px;
}
.choice-card{
  margin-top: 5px;
  height: 80px;
  border: 2px solid #da2e00;
  border-radius: 14px;
  background-color: #F3EDDB;
}
.choice-card:hover{
  background-color: #da2e00;
}
.choice-card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-link:link{
  text-decoration: none;
  color: #633799;
}
.feature-link:visited{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.feature-link:hover{
  color: white;
  font-weight: bolder;
}
.profile-wrapper,
.company-wrapper{
  padding: 25px 25px;
  border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 1px solid #ded1de;
  background-color: #ffffff;
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: 1fr 6fr 1fr;
     grid-template-rows: repeat(3,auto);
     grid-template-areas: 
    ". Logo ."
     "Main-Info Main-Info Main-Info"
    "Description Description Description";
}
.company-product-wrapper{
  padding: 25px 25px;
  border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 1px solid #ded1de;
  background-color: #ffffff;
}
.product-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-picture,
.company-logo{
  grid-area: Logo;
}
.company-logo img{
  max-width: 100%;
  height: auto;
}
.no-logo{
  font-size: 150px;
  padding-top: 5%;
  padding-left: 20%;
}
.user-short-informations,
.user-profile-name,
.company-title,
.company-short-informations{
  padding: 2px 2px;
  grid-area: Main-Info;
}
.company-title{
font-family: 'Varela Round', sans-serif;
}
.user-short-descriptions,
.company-short-descriptions{
font-family: 'Roboto Mono', monospace;
}
.user-long-description,
.company-long-description{
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  grid-area: Description;
}
.button-link:link,
.button-link:hover,
.button-link:visited,
.button-link:active{
  text-decoration: none;
  color: #ffffff;
}
.small-logo{
  height: 50px;
  width: 50px;
}
.user-list ul{
  list-style: none !important;
}
.bug-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  grid-template-areas:
  "Description"
  "Screenshot"
  "Form";
}
.bug-description{
  grid-area: Description;
}
.bug-screenshot{
  grid-area: Screenshot;
}
.bug-action-form{
  grid-area: Form;
}
.bug-content-title{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}
.bug-screenshot >img{
  width: 75%;
  height: 400px;
}
  @media (min-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #faf3ec;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fffdfb;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fffdfb;
      background-color: #9e3215;
    }
    .login-card{
      width: 90%;
    }

  }
  
  @media (min-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #faf3ec;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fffdfb;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fffdfb;
      background-color: #9e3215;
    }
    .login-card{
      width: 80%;
    }
  }
  
  @media (min-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #faf3ec;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fffdfb;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fffdfb;
      background-color: #9e3215;
    }
    .login-card{
      width: 70%;
    }
    .bug-wrapper{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2,auto);
      grid-template-areas:
      "Description Screenshot"
      "Form Form";
    }
  }
  .choice-text{
    font-size: 18px;
  }
  .product-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container {
  padding: 2px 16px;
}
  @media (min-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #faf3ec;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fffdfb;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fffdfb;
      background-color: #9e3215;
    }
    .login-card{
      width: 60%;
    }
    .profile-wrapper,
     .company-wrapper{
      grid-template-columns: 4fr 6fr;
     grid-template-rows: repeat(2,auto);
     grid-template-areas: 
    "Logo Main-Info"
    "Description Description";
}
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #faf3ec;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fffdfb;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fffdfb;
    background-color: #9e3215;
  }
