<form action= "" method = "POST">
     <div class="first-name">
    <label for="{{ form.first_name.id_for_label }}">First Name</label>
    {{ form.first_name }}
    <div class="last-name">
    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
    {{ form.last_name }}
      <div class="username">
    <label for="{{ form.username.id_for_label }}">Username</label>
    {{ form.username }}
</div>
<div class="date-of-birth">
    <label for="{{ form.birth_date.id_for_label }}">Date of Birth</label>
    {{ form.birth_date }}
</div>
<div class="email">
    <label for="{{ form.email.id_for_label }}">Email address:</label>
    {{ form.email }}
</div>
<div class="date-of-birth">
    <label for="{{ form.birth_date.id_for_label }}">Date of Birth</label>
    {{ form.birth_date }}
</div>
<div class="address">
    <label for="{{ form.address.id_for_label }}">Address:</label>
    {{ form.address }}
</div>
    <input type = "submit" value = "Update Info">
</form>